.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: rgb(12, 12, 12);
    margin: 0px;
}

.search-input{
    border-radius: 10px 0px;
    background-color: black;
    width: 90%;
    margin: 0px;
    padding: 0px;
    height: 37px;
}

.search-button{
    border-radius: 0px 10px 10px 0px;
    background-color: black;
    padding: 0px;
    width: 10%;
    margin: 0px;
}

.category-link{
    text-decoration: none;
    font-size: 1.0em;
    padding-bottom: 5px;
    color: black;
}

.category-link:hover{
    background-color: darkgray;
    border-bottom: 2px solid black ;
}

.link{
    text-decoration: none;
}

.cont-over{
    position: relative;
    
}

.cont-over:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.list-it{
    list-style-type: none;
}

.active-link{
    color: black;
    padding-bottom: 5px;
    border-bottom: 4px solid black;
}

.sport-opacyty{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black; /* Couleur de fond semi-transparente */
    opacity: 0.8; 
}

.cursor{
    cursor: pointer;
}

.mySlides {
    display: none;
    width: 100%;
    overflow: hidden;
}

.img-sli{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.sport-row{
    display: flex;
}

.sport-items{
    margin-top: 3px;
    width: 25%;
    max-width: 50%;
    min-width: 24%;
}

.recommended-item{
    width: 19%;
    height: 350px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 0px;
}

/* .recommended-product{
    position: absolute;
    bottom: 20%;
    height: 15%;
    width: 40%;
} */

.overlay {
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 20%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    background: white; /* Couleur de fond semi-transparente */
    opacity: 0; /* L'overlay est invisible au début */
    transition: opacity 0.3s ease; /* Transition en douceur de l'opacité */
}

.overlay-container:hover .overlay {
    opacity: 1; /* L'overlay devient visible au survol */
}